<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/header") %>

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/events.css" />
</head>

<body>
    <%- include("../partials/navbar") %>
    <%- include('../partials/flash') %>

    <!-- Add HTML body here. -->
    <br><br><br><br><br><br>
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
            <p class="card-text">Event Name. Author or book pic above.</p>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            Event Description:
        </div>
    </div>

    <%- include("../partials/footer") %>
</body>

</html>