<!DOCTYPE html>
<html lang="en">

<!-- Christopher He did this file -->
<!-- This allows you to create a new event -->

<head>
    <%- include("../partials/header") %>

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/events.css" />
</head>

<body>
    <%- include("../partials/navbar") %>
    <%- include("../partials/flash") %>

    <!-- Add HTML body here. -->
    <div class="container">
        <h1 class="text-center">New Event</h1>
        <form action="/events" method="POST">
            <div class="mb-3">
                <label class="form-label" for="name">Event Name</label>
                <input class="form-control" type="text" id="name" name="name" required>
            </div>

            <div class="mb-3">
                <label class="form-label" for="author_f">Author First Name</label>
                <input class="form-control" type="text" id="author_f" name="author_f" required>
            </div>

            <div class="mb-3">
                <label class="form-label" for="author_l">Author Last Name</label>
                <input class="form-control" type="text" id="author_l" name="author_l" required>
            </div>

            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <input class="form-control" type="text" id="description" name="description" required>
            </div>

            <div class="mb-3">
                <label class="form-label" for="date">Date</label>
                <input class="form-control" type="date" id="date" name="date" required>
            </div>

            <div class="mb-3">
                <label class="form-label" for="category">Category</label>
                <input class="form-control" type="text" id="category" name="category" required>
            </div>

            <div class="mb-3">
                <label class="form-label" for="admission_link">Admission link</label>
                <input class="form-control" type="text" id="admission_link" name="admission_link">
            </div>

            <div class="mb-3">
                <button class="btn btn-success">Add Event</button>
            </div>
        </form>
    </div>

    <%- include("../partials/footer") %>
</body>

</html>
