<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/header") %>

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/books.css" />
</head>

<body>
    <%- include("../partials/navbar") %>
    <%- include('../partials/flash') %>

    <!-- Add HTML body here. -->
    <div class="container">
        <h1 class="text-center">New Book</h1>
        <form action="/books" method="POST">
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" type="text" id="title" name="title" required>
            </div>

            <div class="mb-3">
                <label class="form-label" for="author_first_name">Author First Name</label>
                <input class="form-control" type="text" id="author_first_name" name="author_first_name" required>
            </div>

            <div class="mb-3">
                <label class="form-label" for="author_last_name">Author Last Name</label>
                <input class="form-control" type="text" id="author_last_name" name="author_last_name" required>
            </div>

            <div class="mb-3">
                <label class="form-label" for="isbn">ISBN</label>
                <input class="form-control" type="number" id="isbn" name="isbn" required>
            </div>

            <div class="mb-3">
                <label class="form-label" for="cover_url">Cover URL</label>
                <input class="form-control" type="text" id="cover_url" name="cover_url">
            </div>

            <div class="mb-3">
                <label class="form-label" for="country">Country</label>
                <input class="form-control" type="text" id="country" name="country">
            </div>

            <div class="mb-3">
                <label class="form-label" for="language">Language</label>
                <input class="form-control" type="text" id="language" name="language">
            </div>

            <div class="mb-3">
                <label class="form-label" for="genre">Genre</label>
                <input class="form-control" type="text" id="genre" name="genre">
            </div>

            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" type="text" id="description" name="description"></textarea>
            </div>

            <div class="mb-3">
                <button class="btn btn-success">Add Book</button>
            </div>
        </form>
    </div>

    <%- include("../partials/footer") %>
</body>

</html>