<link rel="stylesheet" type="text/css" href="/stylesheets/navbar.css" />

<nav class="navbar fixed-top colorNpadding">
    <a class="navbar-brand logo-font" href="/">
        <img src="/images/logo.png" width="60" height="60" class="d-inline-block align-top" alt="goodbooks">
        <i class="good-font">good</i>books
    </a>

    <div class="nav-btn-grp">
        <a href="/clubs" title="Clubs" class="nav-link">Clubs</a>
        <a href="/books" title="Books" class="nav-link">Books</a>
        <a href="/authors" title="Authors" class="nav-link">Authors</a>
        <a href="/events" title="Events" class="nav-link">Events</a>
    </div>

    <% if (!currentUser) { %>
    <div class="nav-btn-grp">
        <a href="/login" title="Login" class="nav-link">Login</a>
        <a href="/register" title="Register" class="nav-link">Register</a>
    </div>
    <% } else { %>
    <div class="nav-btn-grp">
        <a href="/lists" title="Lists" class="nav-link">Lists</a>
        <a href="/users/<%= currentUser.id %>" title="Profile" class="nav-link">Profile</a>
        <a href="/logout" title="Logout" class="nav-link">Logout</a>
    </div>
    <% } %>
</nav>