<nav class="navbar navbar-dark fixed-top bg-dark bg" style="padding: 0 20px">
    <h1><a href="/">CSCE 310 Project</a></h1>
    <% if (!currentUser) { %>
        <div style="display:flex;">
            <li>
                <a href="/login" data-toggle="tooltip" data-placement="bottom" title="Login"><i class="fas fa-sign-in-alt"></i> Login</a>
            </li>
            <li>
                <a href="/register" data-toggle="tooltip" data-placement="bottom" title="Register"><i class="fas fa-user-plus"></i> Register</a>
            </li>
        </div>
    <% } else { %>
        <div>
            <li>
                <a href="/logout" data-toggle="tooltip" data-placement="bottom" title="Logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
            </li>
        </div>
    <% } %>
</nav>