<nav class="navbar navbar-light fixed-top" style="padding: 0 30px; background-color: #f9cb9cff;">
    <a class="navbar-brand" href="/">
        <img src="/images/logo.png" width="60" height="60" class="d-inline-block align-top" alt="">
        GoodBooks
    </a>
    <% if (!currentUser) { %>
        <div style="display:flex;">
            <li>
                <a href="/login" data-toggle="tooltip" data-placement="bottom" title="Login"><i class="fas fa-sign-in-alt"></i> Login</a>
            </li>
            <li>
                <a href="/register" data-toggle="tooltip" data-placement="bottom" title="Register"><i class="fas fa-user-plus"></i> Register</a>
            </li>
        </div>
    <% } else { %>
        <div>
            <li>
                <a href="/logout" data-toggle="tooltip" data-placement="bottom" title="Logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
            </li>
        </div>
    <% } %>
</nav>