<link rel="stylesheet" type="text/css" href="/stylesheets/navbar.css" />

<nav class="navbar fixed-top colorNpadding" >

    <a class="navbar-brand logo-font" href="/">
        <img src="/images/logo.png" width="60" height="60" class="d-inline-block align-top" alt="goodbooks">
        <i class="good-font">good</i>books
    </a>

    <% if (!currentUser) { %>
        <div class="row">
  
            <a href="/login" title="Login" class="nav-link display-5 fw-bold col-5">Login</a>

            <a href="/register" title="Register"class="nav-link display-5 fw-bold col-5">Register</a>
        </div>
    <% } else { %>
        <div>
            <li>
                <a href="/logout" title="Logout" class="nav-link display-5 fw-bold col-5">Logout</a>
            </li>
        </div>
    <% } %>
</nav>