<!DOCTYPE html>
<html lang="en">

<head>
	<%- include("partials/header") %>

	<!-- Custom CSS -->
	<link rel="stylesheet" type="text/css" href="/stylesheets/landing.css" />
</head>

<body>
	<%- include("partials/navbar") %>
	<%- include('partials/flash') %>
	<div class="imgbox">
		<img src="/images/line_of_books.jpg" alt="line of books" class="homepage-img">
	</div>
	

	<%- include("partials/footer") %>
</body>

</html>