<!DOCTYPE html>
<html lang="en">

<head>
	<%- include("partials/header") %>

	<!-- Custom CSS -->
	<link rel="stylesheet" type="text/css" href="/stylesheets/landing.css" />
</head>

<body>
	<%- include("partials/navbar") %>
	<%- include('partials/flash') %>
	<div class="imgbox">

		<!--<div class="overlay flex justify-content-center">
			<form>
				<div class="form-group">
					<label for="usernameinput">New User? Create a free account!	</label>
					<input type="email" class="form-control" id="usernameinput" placeholder="Username">
					<input type="email" class="form-control" id="emailinput" placeholder="Email">
					<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
					<button type="submit" class="btn btn-primary">Sign up</button>
				</div>
			</form>

		</div>-->

		<div class="slogan text-center">
			<p class=" display-5 fw-bold">Find your good book here.</p>
		</div>

		<img src="/images/line_of_books.jpg" alt="line of books" class="homepage-img">
	</div>
	

	<%- include("partials/footer") %>
</body>

</html>