<%- include("partials/header.ejs") %>

<div class='container'>
	<form class='login-form' name='login' action='/login' method='POST' >
		<div>
			<div>
				<div class='relative'>
					<input placeholder='username' name='username' required/>
				</div>
				<div class='relative'>
					<input placeholder='password' type='password' name='password' required/>
				</div>
			</div>
		</div>
		<button type='submit'>
			Log in
		</button>
	</form>
</div>

<%- include("partials/footer.ejs") %>