<html>
	<head>
		<title>Register</title>
		<link href="/main.css" rel="stylesheet" >
	</head>
	<body>
		<div class='container'>
			<form class='register-form' name='register' action='/register' method='POST' >
				<div>
					<div>
						<div class='relative'>
							<input placeholder='username' name='username' required/>
						</div>
						<div class='relative'>
							<input placeholder='password' type='password' name='password' required/>
						</div>
					</div>
				</div>
				<button type='submit'>
					Register
				</button>
			</form>
		</div>
	</body>
</html>
