.imgbox {
	background-image: url("/images/line_of_books.jpg");
	background-size: cover;
	width: 100%;
	height: 30vh;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	margin-bottom: 35px
}

.homepage-img {
	height: 80%;
	max-width: 100%;
	width: 100%;
	margin: auto;
}

.overlay {
	position: absolute;
	top: 5rem;
	right: 3rem;
	color: black;
	font-size: medium;
	position: absolute;
	width: 20%;
	height: 30%;
	z-index: 1;
	margin: 30px;
}

.slogan {
	color: #5f9ea0;
}

.grid {
	display: grid;
	grid-template-columns: 2fr 1fr;
	column-gap: 100px;
	margin: 0 10%;
}

.subgrid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 100px;
	padding: 2rem;
}

.authorbox {
	outline: 4px solid black;
	text-align: center;
	padding: 2rem;
}

.promobox {
	background-color: #d9ead3ff;
	border-radius: 30px;
	padding: 2rem;
}

.imggrid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	column-gap: 2rem;
	margin: 0 10%;
}