.colorNpadding {
	padding: 0 30px;
	background-color: #f9cb9cff;
}

.good-font {
	color: cadetblue;
}

.logo-font {
	font-family: "Times New Roman", Times, serif;
	font-size: 3rem;
	text-decoration: none;
	color: gray;
}

.right-side {
	justify-content: space-between;
}

.nav-btn-grp {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.nav-link {
	text-decoration: none;
	/* color: aliceblue; */
	color: #808080 !important;
	font-weight: bold;
	font-size: 2rem;
}

.nav-link:visited {
	color: aliceblue;
}

.nav-link:hover {
	border-radius: 6px !important;
	width: auto !important;
	height: auto !important;
	background-color: lightsteelblue;
	color: cadetblue;
}

.logo-font:hover {
	border-radius: 6px !important;
	width: auto !important;
	height: auto !important;
	color: gray;
	background-color: lightsteelblue;
}