.container {
	width: 400px;
	padding: 0 0;
	margin: auto;
	text-align: center;
}

.form {
	position: relative;
	background: white;
	padding: 45px;
	text-align: center;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form h1 {
	color: #808080;
}

.form input {
	background: #f2f2f2;
	width: 100%;
	border: 0;
	margin: 0 0 15px;
	padding: 15px;
	font-size: 14px;
}

.form button {
	color: #808080;
	text-transform: uppercase;
	background-color: #f9cb9cff;
	width: 100%;
	border: 0;
	padding: 15px;
	font-size: 14px;
	transition: all 0.3 ease;
}

.form button:hover,
.form button:active,
.form button:focus {
	background-color: #f9cb9cff;
}

.relative {
	position: relative;
}