<!DOCTYPE html>
<html lang="en">

<head>
	<%- include("../partials/header") %>

	<!-- Custom CSS -->
	<link rel="stylesheet" type="text/css" href="/stylesheets/users.css" />
</head>

<body>
	<%- include("../partials/navbar") %>
	<%- include('../partials/flash') %>

    <!-- Add HTML body here. -->
		<br><br><br><br><br><br>
		<div class="card" style="width: 18rem;">
	<img class="card-img-top" src="..." alt="Card image cap">
	<div class="card-body">
		<p class="card-text">User Name. User pic above.</p>
	</div>
</div>

<div class="card">
<div class="card-body">
	User Description:
</div>
</div>

<ul class="list-group">
  <li class="list-group-item">Club Name</li>
  <li class="list-group-item">Club Name</li>
  <li class="list-group-item">Club Name</li>
</ul>

<ul class="list-group">
  <li class="list-group-item">Book Title</li>
  <li class="list-group-item">Book Title</li>
  <li class="list-group-item">Book Title</li>
</ul>

	<%- include("../partials/footer") %>
</body>

</html>
